# Web
fastapi==0.115.12
uvicorn[standard]==0.34.2

# Database
sqlalchemy[asyncio]==2.0.41
asyncpg==0.30.0
alembic==1.15.2

# Auth
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
python-multipart==0.0.20

# Config
pydantic-settings==2.9.1
pydantic[email]==2.11.4

# AI
langchain
langchain-groq
langchain-core

# Files
pypdf==4.3.1
pillow==11.2.1

# Dev utils
python-decouple==3.8